@use '@/layout/styles/theme' as *;

.base58Component {
  margin-bottom: 1rem;

  .description {
    font-size: 1rem;
    color: #4a4a4a;
    margin: 1rem 0 1rem 0;
  }
  .productTitle {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
  }
  .textContainer {
    margin: 1rem 0 1rem 0;
    background-color: $backgroundColor;
    color: $textColor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    textarea {
      width: calc(100% - 2rem);
      min-height: 8rem;
      padding: 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: none;
      background-color: $backgroundColor;
      color: $textColor;
      outline: none;
    }
  }

  .actionContainer {
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .errorContainer {
    padding: 0 1rem;
    color: red;
    font-size: 1rem;
    font-style: italic;
    background-color: $backgroundColor;
  }

  .resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    color: $textColor;
    .resultText {
      min-height: 12rem;
      border-radius: 4px;
      padding: 1rem;
      font-size: 1rem;
      width: calc(100% - 2rem);
      border: 1px solid #ccc;

    }
  }
}

.resultActionContainer {
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

